<nav class="navbar navbar-expand-sm bg-light">
    <ul class = "navbar-nav">
        <li class =" navbar-list">
            <a routerLink ="/get-todo-list" matTooltip="Todo-List" matTooltipPosition="below" class="nav-link"><mat-icon>arrow_back</mat-icon></a>
        </li> &nbsp;&nbsp;
        <li class =" navbar-list">
            <a routerLink ="/upload-files"  class="nav-link" style="text-align: center;"><mat-icon matTooltip="Upload" matTooltipPosition="above" style="font-size: 24px; color: palevioletred;">cloud_upload</mat-icon></a>
        </li> &nbsp;&nbsp;
        <li class =" navbar-list">
            <a routerLink ="/app-weather" matTooltip="Weather" matTooltipPosition="below" class="nav-link"><mat-icon>wb_cloudy</mat-icon></a>
        </li> &nbsp;&nbsp;
        <li class =" navbar-list">
            <a routerLink ="/app-current-weather" matTooltip="Current-Weather" matTooltipPosition="below" class="nav-link"><mat-icon>wb_sunny</mat-icon></a>
        </li> &nbsp;&nbsp;
        <li class =" navbar-list">
            <a routerLink ="/login" matTooltip="LogOut" matTooltipPosition="below" class="nav-link"><mat-icon>logout</mat-icon></a>
        </li>
    </ul>
</nav><br>
<table class="table table-striped">
    <thead>
      <tr>
          <th>City</th>
          <th>Humidity</th>
          <th>Temperature</th>
          <th>Date</th>
          <th>Longitude</th>
          <th>Latitude</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let wea of weather ">
          <td>{{wea.name}}</td> 
          <td>{{wea.humidity}}%</td> 
          <td>{{wea.temperature}}℃</td>
          <td>{{wea.date | date:'medium'}}</td>  
          <td>{{wea.lon}}</td>   
          <td>{{wea.lat}}</td>    
      </tr>
  </tbody>
  </table>
